<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%= render 'groups/groups_menu' %>
        </div>
        <div class="col-sm-10">
            <h1>Group associations</h1>
            <p>This page will be for linking groups together if they are chapter organizations or sub groups.</p>
        </div>
    </div>
</div>

  
