<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%= render 'users/users_menu' %>
        </div>
        <div class="col-sm-10">
            <h1>Notification Settings</h1>
            <ul>
                <li>Browser notifications...</li>
                <li>Comments</li>
                <li>Tags</li>
                <li>Reminders</li>
                <li>Updates from friends</li>
                <li>Updates from organizations you follow</li>
                <li>Updates from fundraisers you follow</li>
                <li>Updates from coworkers</li>
                <li>Updates from your groups</li>
                <li>Event updates</li>
                <li>Friend requests</li>
                <li>Group invites</li>
                <br>
                <li>Chrome push notifications</li>
                <br>
                <li>Email</li>
                <li>Only about your account</li>
                <li>Comments</li>
                <li>Tags</li>
                <li>Reminders</li>
                <li>Updates from friends</li>
                <li>Updates from organizations you follow</li>
                <li>Updates from fundraisers you follow</li>
                <li>Updates from coworkers</li>
                <li>Updates from your groups</li>
                <li>Event updates</li>
                <li>Friend requests</li>
                <li>Group invites</li>
            </ul>
        </div>
    </div>
</div>

  
