

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #BCC0C3;
$state-danger-text: #ffffff;
$gray: #EDEDFB;
$gray-darker: #3F4546;
$gray-medium-light: #909598;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#users_menu {
  background-color: #EFECE7;
  padding: 10px 10px 10px 10px;
}

.btn {
  color: #fff;
  border-radius: 5px;
}
.avatar_small {
  width: 28px;
}

.avatar_medium {
  width: 48px;
}

.avatar_large {
  width: 68px;
}

.avatar_full {
  width: 100%;
}

#body-signup {
  background:url(../../assets/images/green-wall.jpg) no-repeat;
  padding-top:0px;
  background-size: 50%;
  background-position: center right;

}

.h-100 {
  height: 100% !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}



/* universal */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Futura', cursive;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'Montserrat', sans-serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }

}





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;
    
    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
    #user-navigation-title {
      font-weight: bold;
    }
  }
}

